/* settings css and page*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /setting css and page*/

/* start layout */
body {
  background-color:gray;
}

.container {
  margin:40px auto;
  width: 60%;
  height: 600px;
  background-color: white;
  border-radius: 10px;
}
/* /layout */

/* start header */

header {
  background-color: white;

}

/* start logo */
.logo>img {
  height: 60px;
  margin-left: 20px;
}
.logo {
  display: inline-block;
}

/* /logo */
/* start title */
h1 {
  font-size: 40px;
  font-weight: 900;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  display: inline-block;
  vertical-align:top;
  margin-top: 5px;
}
/* /title */

/* /header */


/* start main */

/* init buttons */
.button {
  border-radius: 6px;
  border:1px solid white;
  color: white;
  padding: 8px;
  background-color:rgb(0, 140, 255);
  font-size: 12px;
  font-weight: 500;
}
.initbutton {
  margin:0 30px 10px;
  padding-top: 10px;
}

.white {
  border: 1px solid gray;
  background-color: white;
  color:gray;

}
/* /init buttons */



/* /main */
/* start titles */
span {
  font-size: 20px;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgba(0, 0, 0, 0.781);
}
/* end titles */