/* settings css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /setting css*/

/* start layout */
body {
  background-color:rgb(240, 235, 235);
}

.container {
  margin:40px auto;
  width: 60%;
  height: 600px;
  background-color: white;
  border-radius: 10px;
}
/* /layout */

/* start header */

header {
  background-color: white;

}

/* start logo */
.logo>img {
  height: 60px;
  margin-left: 20px;
}
.logo {
  display: inline-block;
}

/* /logo */
/* start title */
h1 {
  font-size: 40px;
  font-weight: 900;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  display: inline-block;
  vertical-align:top;
  margin-top: 5px;
}
/* /title */

/* /header */


/* start main */

/* init buttons */
.button {
  border-radius: 6px;
  border:1px solid white;
  color: rgba(255, 255, 255, 0.87);
  padding: 8px;
  background-color:rgb(0, 140, 255);
  font-size: 12px;
  font-weight: 700;
}
.initbutton {
  margin:0 30px 10px;
  padding-top: 10px;
}

.white {
  border: 1px solid rgb(240, 235, 235);;
  background-color: white;
  color:rgb(240, 235, 235);
}
/* /init buttons */



/* /main */
.newtask, .upcoming, .today {
  margin:0 30px 10px;
}
/* start titles */
h3 {
  font-size: 20px;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgba(0, 0, 0, 0.781);
  line-height: 40px;
}
/* end titles */

/* start simbols */
.enable {
  color:green;
  border:1px solid green;
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
}

.cross {
  color:red;
  border:1px solid red;
  border-radius: 50%;
  padding: 2px;
  font-size: 12px;
}

/* /simbols */
/* wrters of main  */
.newtask,.today,.upcoming {
  color:gray;
  font-weight: 300;
}

/* /writers of main */

/* main buttons */
.butt {
  display: inline-block;
  border-radius: 10px ;
  border: 1px solid white;
  padding: 1px 6px;
  font-size: 10px;
  font-weight: 500;
  color: white;
  line-height: 30px;
}

.blue {
  background-color:rgb(0, 140, 255);
}
.beige {
  background-color:rgb(165, 120, 62);
}
.pink {
  background-color:rgb(255, 0, 170);
}
.purple{
  background-color:rgb(107, 42, 98);
}
.orange {
  background-color:rgb(255, 72, 0);
}
.green {
  background-color:rgb(20, 173, 58);
}

.today>div, .upcoming>div, .newtask>div {
  display: inline-block;
}

#firstupcoming {
  line-height: 30px;
}

h3 span {
  font-size: 15px;
}

/* / main buttons */
